<footer class="footer">
  <div class="container">
    <img src="images/fleetster_logo.webp" alt="logo" class="footer__logo">
    <div class="footer__bloc-content">
      <div class="footer__content-setings">
        <h6 class="footer-setings__title">Site Language/Currency</h6>
        <div class="footer-setings__select-blok">
          <select class="footer-setings__select" name="language">
            <option class="footer-setings_options" value="en">Engligs</option>
            <option class="footer-setings_options" value="ua">Українська</option>
            <option class="footer-setings_options" value="ru">Русский</option>
          </select>
          <select class="footer-setings__select" name="currency">
            <option class="footer-setings_options" value="usd">USD</option>
            <option class="footer-setings_options" value="grn">UAH</option>
            <option class="footer-setings_options" value="rub">RUB</option>
          </select>
        </div>
      </div>
      <div class="footer-nav">
        <div class="footer-nav__blok">
          <div class="footer-nav__content">
            <h6 class="footer-nav__title">Company</h6>
            <ul class="footer-nav__list">
              <li class="footer-nav__element"><a href="#" class="footer-nav__link">About</a></li>
              <li class="footer-nav__element"><a href="#" class="footer-nav__link">Blog</a></li>
              <li class="footer-nav__element"><a href="#" class="footer-nav__link">Contact us</a></li>
            </ul>
          </div>
          <div class="footer-nav__content">
            <h6 class="footer-nav__title">Legal</h6>
            <ul class="footer-nav__list">
              <li class="footer-nav__element">
                <a href="#" class="footer-nav__link">Terms & Conditions</a>
              </li>
              <li class="footer-nav__element">
                <a href="#" class="footer-nav__link">Privacy Policy</a>
              </li>
              <li class="footer-nav__element">
                <a href="#" class="footer-nav__link">Legal Information</a>
              </li>
            </ul>
          </div>
          <div class="footer-nav__content">
            <h6 class="footer-nav__title">Explore</h6>
            <ul class="footer-nav__list">
              <li class="footer-nav__element">
                <a href="#" class="footer-nav__link">How it works?</a>
              </li>
              <li class="footer-nav__element">
                <a href="#" class="footer-nav__link"> Help</a>
              </li>
              <li class="footer-nav__element">
                <a href="#" class="footer-nav__link">FAQs</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-butom">
    <div class="container">
      <div class="footer-butom__blok">
        <div class="footer-butom__chocial">
          <a href="#"><img class="footer-butom__img" src="images/facebok.webp" alt="facebook"></a>
          <a href="#"><img class="footer-butom__img" src="images/twiter.webp" alt="twiter"></a>
          <a href="#"><img class="footer-butom__img" src="images/instagram.webp" alt="instagram"></a>
        </div>
        <div class="footer-butom__text">© Fleetster Car Rentals 2018 All Rights Reserved.</div>
      </div>
    </div>
  </div>
</footer>
<script src="js/jqveri.js"></script>
<script src="js/main.min.js"></script>
<script src="js/slick.js"></script>
<script src="js/test.js"></script>
</body>

</html>